body {
    box-sizing: border-box;
}

.main-content {
    padding: 10px 0 9px 10px;
    background-color:rgb(231, 227, 227);
}
.box-container {
    min-height: 100vh;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.box-container .box {
    width: 70%;
    height: auto;
    padding: 10px 20px;
    border-radius: 7px;
    border: none;
    background-color: white;
}

.box-container .box .form {
    display: flex;
    align-items: center;
}
.sidebar .nav-link:hover h5 {
    background-color: rgb(165, 162, 162);
    color: black;
}
.sidebar .nav-link h5 {
    cursor: pointer;
}